.donate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .donate-list {
        width: 75%;
        .donate-list-item {
            background-color: beige;
            text-align: center;
            margin-top: 10px;
            // margin-bottom: 10px;
            padding-top: 6px;
            padding-bottom: 6px;
            border-radius: 6px;
            border: 1px solid black;
            .donate-item {
                font-size: 32px;
                margin-bottom: 6px;
            }
            .donate-description {
                
            }
            .donate-user {

            }
            .convo-btn {
                box-shadow: inset -3px -3px 10px rgb(246, 64, 96);
                background-color: rgb(246, 88, 88); /* Fill color */
                color: black; /* Text color */
                border-radius: 15px; /* Rounded button edges */
                font-style: italic; /* Italicize text */
                padding: 10px 30px; /* Distance between text and border */
                margin-top: 6px;
            }
        }
    }
}