.request-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .request-form {
        .request-form-header {
            font-size: 64px;
            text-align: center;
        }
    
        .request-form-fields {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            .request-input {
                text-align: center;
    
                label {
                    float: left;
                }
                input, textarea {
                    width: 100%;
                }
            }
            .request-submit {
                text-align: center;
            }
        }
    }
}